/* ============================================================================
    EXECUTIVE TRAVEL CONTAINERS
    ========================================================================= */


.et-contact-container,
.et-sales-point-container {
    background-color: $g-et-color-off-black;
}

.et-contact-container,
.et-services-container,
.et-about-container,
.et-drivers-container,
.et-sales-point-container {
    padding: rem($shell-g-spacing-6x-large) rem($shell-g-spacing-3x-large);
}

.et-drivers-container {
    background-color: $g-et-color-off-white;
    border-bottom: 1px solid $g-et-color-off-grey;
    border-top: 1px solid $g-et-color-off-grey;
}

