/* ============================================================================
    EXECUTIVE TRAVEL FORM FIELD
    ========================================================================= */


.et-form-field {
    display: flex;
    flex-direction: column;
    padding: rem($shell-g-spacing) 0;
}

.et-form-field__label {
    color: $g-et-color-off-white;
    font-size: rem($shell-g-font-size);
    font-weight: 300;
    margin-bottom: rem($shell-g-spacing-x-small);
}

.et-form-field__input {
    background-color: $g-et-color-slate;
    border: 0;
    border-radius: rem(3);
    color: $g-et-color-off-white;
    font-weight: 300;
    padding: rem(10);
}

