/* ============================================================================
    EXECUTIVE TRAVEL SALES POINT
    ========================================================================= */

.et-sales-point {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.et-sales-point__item {
    padding: rem($shell-g-spacing);
}

.et-sales-point__border-icon {
    align-items: center;
    background-color: $g-et-color-slate;
    border-radius: 50%;
    display: flex;
    height: rem($shell-g-spacing-6x-large);
    justify-content: center;
    margin-bottom: rem($shell-g-spacing-large);
    width: rem($shell-g-spacing-6x-large);
}

.et-sales-point__svg {
    color: $g-et-color-off-white;
    height: rem($shell-g-spacing-2x-large);
    width: rem($shell-g-spacing-2x-large);
}

.et-sales-point__summary {
    margin-top: rem($shell-g-spacing);
    text-align: center;
}


@media (min-width: 40.063em) {
    .et-sales-point {
        flex-direction: row;
    }

    .et-sales-point__item {
        margin: 0 rem($shell-g-spacing-3x-large);
    }
}

@media (min-width: 75em) {
    .et-sales-point__item {
        margin: 0 rem($shell-g-spacing-6x-large);
    }
}
