/* ============================================================================
    EXECUTIVE TRAVEL BODY STYLING
    ========================================================================= */


.et-photo-container {
    background: url('../images/bentley.jpeg') no-repeat center center;
    background-size: cover;
    height: rem(600);
    position: relative;
}

.et-quick-link {
    background-color: $g-et-color-slate;
    border: 2px solid $g-et-color-blue;
    border-radius: rem(5);
    color: $g-et-color-off-white;
    font-size: rem($shell-g-font-size-3x-large);
    padding: rem($shell-g-spacing-x-large) rem($shell-g-spacing-4x-large);
    position: absolute;
    right: 10%;
    text-align: center;
    top: 30%;

    &:hover,
    &:focus {
        background-color: $g-et-color-blue;
        color: $g-et-color-off-white;
        transition: all 0.1s ease-in;
    }
}


.et-image {
    border: 2px solid $g-et-color-blue;
    border-radius: rem(3);
}

.c-copyright {
    background-color: $g-et-color-off-black;
    color: $g-et-color-off-white;
    font-size: rem($shell-g-font-size-small);
    font-weight: 300;
    padding-bottom: rem($shell-g-spacing-small);
    text-align: center;
}

.c-button {
    background-color: $g-et-color-blue;
    border-radius: rem(5);
    color: $g-et-color-off-white;
    font-size: rem($shell-g-font-size-large);
    font-weight: 300;
    padding: rem($shell-g-spacing) 0;
    width: rem(150);

    &:hover,
    &:focus {
        background-color: $g-et-color-off-white;
        color: $g-et-color-blue;
        transition: all 0.1s ease-in;
    }
}
