/* ============================================================================
    EXECUTIVE TRAVEL FORM FIELD
    ========================================================================= */

.et-form-field__label {
    color: $g-et-color-off-white;
    display: block;
    font-size: rem($shell-g-font-size);
    font-weight: 300;
    padding-bottom: rem($shell-g-spacing-x-small);
}

.et-form-field__input {
    background-color: $g-et-color-slate;
    border: 0;
    border-radius: rem(3);
    color: $g-et-color-off-white;
    font-weight: 300;
    padding: rem(10);
    width: 100%;
}

