/* ============================================================================
    EXECUTIVE TRAVEL HEADER
    ========================================================================= */


.et-header {
    background-color: $g-et-color-white;
    border-bottom: 10px solid $g-et-color-grey;
    border-top: rem($shell-g-spacing-3x-large) solid $g-et-color-off-black;
    padding: rem($shell-g-spacing-2x-large) 0  rem($shell-g-spacing-4x-large);
}

.et-logo {
    width: rem(352);
}

.et-main-nav {
    display: flex;
    justify-content: center;
    padding: 0 rem($shell-g-spacing-large);
    text-align: center;
}

.et-main-nav__item {
    flex-grow: 1;
    margin-right: rem($shell-g-spacing-x-small);

}

.et-main-nav__link {
    border-top-left-radius: rem(3);
    border-top-right-radius: rem(3);
    color: $g-et-color-blue;
    display: block;
    font-size: rem($shell-g-font-size-large);
    font-weight: 300;
    padding: rem($shell-g-spacing-small) rem($shell-g-spacing-large);

    &:hover,
    &:focus {
        background-color: $g-et-color-off-black;
        color: $g-et-color-off-white;
        transition: all 0.1s ease-in;
    }
}

