/* ============================================================================
    EXECUTIVE TRAVEL BODY STYLING
    ========================================================================= */


.et-photo-container {
    background: url('../images/bentley.jpeg') no-repeat center center;
    background-size: cover;
    height: rem(600);
    position: relative;
}

.et-quick-link {
    background-color: $g-et-color-slate;
    border: 2px solid $g-et-color-blue;
    border-radius: rem(5);
    color: $g-et-color-off-white;
    font-size: rem($shell-g-font-size-3x-large);
    padding: rem($shell-g-spacing-x-large) rem($shell-g-spacing-4x-large);
    position: absolute;
    right: 50%;
    text-align: center;
    top: 70%;
    transform: translateX(50%);

    &:hover,
    &:focus {
        background-color: $g-et-color-blue;
        color: $g-et-color-off-white;
        transition: all 0.1s ease-in;
    }
}


.et-image {
    border: 2px solid $g-et-color-blue;
    border-radius: rem(3);
}

.c-copyright {
    background-color: $g-et-color-off-black;
    color: $g-et-color-off-white;
    font-size: rem($shell-g-font-size-small);
    font-weight: 300;
    padding-bottom: rem($shell-g-spacing-small);
    text-align: center;
}

.c-button {
    background-color: $g-et-color-blue;
    border-radius: rem(5);
    color: $g-et-color-off-white;
    font-size: rem($shell-g-font-size-large);
    font-weight: 300;
    padding: rem($shell-g-spacing) rem($shell-g-spacing-2x-large);

    &:hover,
    &:focus {
        background-color: $g-et-color-off-white;
        color: $g-et-color-blue;
        transition: all 0.1s ease-in;
    }
}

.c-button--bordered {
    border: 1px solid $g-et-color-blue;
}

.h-media-spacing {
    margin-bottom: rem($shell-g-spacing-5x-large);
}


@media (min-width: 40.063em) {
    .h-media-spacing {
        margin-bottom: rem($shell-g-spacing);
    }

    .et-quick-link {
        right: 10%;
        top: 30%;
        transform: translateX(0%);
    }
}
