/*
* Colour palette
*/

$g-et-color-white: #FFF;
$g-et-color-off-white: #FBFBFB;
$g-et-color-off-black: #383838;
$g-et-color-blue:#539CB4;
$g-et-color-dark-slate: #293947;
$g-et-color-slate: #5C5B5D;
$g-et-color-grey-dark: #727D84;
$g-et-color-grey: #DCDFE0;
$g-et-color-off-grey: #f1f1f1;


/*
* .1 allows button functionality for icon only buttons
*/

button svg {
    pointer-events: none; // [1]
}

a {
    text-decoration: none !important;
}

.hidden {
    display: none;
}
