@charset "UTF-8";

/**
 * Styles for Taxi-service.
 */


/**
 * Shell overrides.
 */

@import 'settings';




/**
 * Shell library.
 */

@import '../node_modules/shell-csslib/src/shell';


/**
 * Components.
 */



@import 'et-body';

@import 'et-containers';

@import 'et-form-field';

@import 'et-header';

@import 'et-sales-point';

@import 'et-typography';

/**
 * Helpers.
 */

 //@import 'helpers';
